html{
	width: 100%;height: 100%
}

body{
	background-size:100% 100%;
}
.div-img(@widht,@height,@url){
	width:@widht;
	height:@height;
	background:url(@url);
	background-size: 100% 100%;
}
.header{
	height:1.2rem;
	width:100%;
	background:#6ab721;
	position: fixed;
	left:0;
	top: 0
}
.header{
	.location-ico{
		.div-img(0.426667rem,0.426667rem,"../images/location.png");
		margin: 0.373333rem 0 0 0.266667rem;
		display: inline-block;
		vertical-align: bottom;
	}
	.location-name{
		font-size: 0.346667rem;
		color: #fff;
		vertical-align: bottom;
	}
	.search{
		font-size: 0.346667rem;
		width:5.333333rem;
		height:0.8rem;
		background:#fff;
		border-radius: 10px;
		position:absolute;
		top:0.186667rem;
		left:50%;
		margin-left: -2.666667rem;
		padding: 0.213333rem 0.666667rem 0.213333rem 1.386667rem;
		box-sizing: border-box;
		
	}
	.search-ico{
		.div-img(0.4rem,0.4rem,"../images/search-ico.png");
		position:absolute;
		top:0.373333rem;
		left:3.146667rem;
	}
	.add{
		.div-img(0.48rem,0.48rem,"../images/top-add.png");
		border:none;
		position:absolute;
		top:0.346667rem;
		right: 0.266667rem;
	}
}
.container{
	margin-top: 1.2rem;
	background:#ECEDF1;
	padding:0.266667rem 0.266667rem;
	box-sizing: border-box;
}
.container{
	.section{
		width:100%;
		background:#fff;
		padding-top: 0.346667rem;
		box-sizing: border-box;
		padding-bottom: 0.32rem;
		border-radius: 10px;
		margin-bottom: 0.266667rem;
	}
	.section:last-child{
		margin-bottom: 1.306667rem;
	}
	.section{
		h1{
			font-size: 0.426667rem;
			margin-left: 0.346667rem;
		}
		.activity-img{
			margin: 0.32rem 0 0.32rem;
			width:100%;
			height:4.0rem;
		}
		.ftil{
			font-size: 0.346667rem;
			padding-left: 0.393333rem;
			margin: 0 0.266667rem 0;
		}
		.ftil.time{
			background:url("../images/ico-time.png") no-repeat;
			background-size: 0.306667rem 0.306667rem;
			vertical-align: bottom;
			margin-bottom: 0.24rem;
		}
		.ftil.place{
			background:url("../images/ico-address.png") no-repeat;
			background-size: 0.226667rem 0.373333rem;
			vertical-align: bottom;
		}
		.ftil{
			.data,.place{
				line-height: 0.306667rem;
				vertical-align: top;
			}
			.hour{
				line-height: 0.306667rem;
				vertical-align: top;
			}
			.ftil-right{
				float: right;
				line-height: 0.306667rem;
			}
			.ftil-right{
				b{
					color:#6AB721;
				}
			}
		}
	}
}
.footer{
	height:1.306667rem;
	width:100%;
	background:#fff;
	position:fixed;
	bottom:0;
	left:0;
	border-top: 1px solid #C8C8C8;
}
.footer{
	.center-btn{
		.div-img(1.306667rem,1.306667rem,"../images/footer-center-btn.png");
		border:none;
		position:absolute;
		left:50%;
		margin-left: -0.653333rem;
	}
	.ico-list{
		width:4.346667rem;
		text-align: center;
		padding-top: 0.186667rem;
		position:absolute;
		top:0;
	}
	.ico-list.left{
		left:0;
	}
	.ico-list.right{
		right:0 !important;
	}
	.ico-list{
		.item{
			width:0.586667rem;
			height:0.986667rem;
			font-size: 0.266667rem;
			padding-top: 0.666667rem;
			background:url("../images/foot-ico1.png") no-repeat top center;
			box-sizing: border-box;
			display:inline-block;
			text-align: center;
			color:#999;
			margin:0 0.666667rem 0
		}
		.item.ico2{
			background:url("../images/foot-ico2.png") no-repeat top center;
		}
		.item.ico3{
			background:url("../images/foot-ico3.png") no-repeat top center;
		}
		.item.ico4{
			background:url("../images/foot-ico4.png") no-repeat top center;
		}
	}
	
	.item.active{
		color:#6AB721 !important;
	}
}