html{
	width: 100%;height: 100%
}

body{
	background: url("../images/bg.jpg");
	background-size:100% 100%;
}
.div-img(@widht,@height,@url){
	width:@widht;
	height:@height;
	background:url(@url);
	background-size: 100% 100%;
}
.animation-mode1(@delay){
	opacity:0;
	animation-delay:@delay;
	animation-fill-mode:forwards;
}
.section{
	background: url("../images/bg.jpg");
    background-size: 100% 100%;
	width: 100%;height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.first{
	.logo{
		.div-img(2.375rem,1.5625rem,"../images/logo.jpg");
		position:absolute;
		top:0;
		left:0.390625rem;
		animation:slogan 1s;
	}
	.slogan{
		.div-img(8.0rem,3.765625rem,"../images/main-til.png");
		position:absolute;
		top:1.53125rem;
		left:1.15625rem;
		animation:slogan 1s;
	}
	.slogan-two{
		.div-img(5.875rem,0.8125rem,"../images/main-til2.png");
		position:absolute;
		top:5.40625rem;
		left:1.0rem;
		animation:building 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		opacity:0;
	}
	.flower-tree{
		.div-img(4.15625rem,7.328125rem,"../images/flowertree.png");
		position:absolute;
		top:4.359375rem;
		right:0;
		animation:car 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		opacity:0;
	}
	.bg-first{
		.div-img(10.0rem,11.6875rem,"../images/bgfirst.png");
		position:absolute;
		bottom:0rem;
		right:0;
		animation:ground 1s;
	}
	.building{
		.div-img(8.78125rem,5.8125rem,"../images/building.png");
		position:absolute;
		bottom:3.1875rem;
		right:0;
		animation:building 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		opacity:0;
	}
	.cat{
		.div-img(2.390625rem,2.640625rem,"../images/cat.png");
		position:absolute;
		bottom:2.859375rem;
		left:0.25rem;
		animation:building 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		opacity:0;
	}
	.car{
		.div-img(9.53125rem,5.453125rem,"../images/car.png");
		position:absolute;
		bottom:0.15625rem;
		right:0rem;
		animation:car 1s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
		opacity:0;
	}
	.cloudy{
		.div-img(1.796875rem,0.40625rem,"../images/cloudy.png");
		position:absolute;
		top:0.65625rem;
		right:0.3125rem;
	}
} 
.section.sec{
	background:url("../images/bg2.jpg");
	background-size: 100% 100%;
}
.section.sec{
	.tile{
		.div-img(4.890625rem,1.875rem,"../images/sec_title.png");
		position:absolute;
		top:0.625rem;
		left:0.46875rem;
	}
	.place{
		.div-img(8.84375rem,12.1875rem,"../images/place.png");
		position:absolute;
		bottom:1.25rem;
		left:0.46875rem;
	}
}
.section.three{
	.ruler{
		.div-img(9.0625rem,6.9375rem,"../images/ruler-box.png");
		display:block;
		margin: 0.4375rem auto 0;
		padding: 1.28125rem 0.5625rem 0;
		box-sizing: border-box;
	}
	.ruler>p{
		font-size: 0.375rem;
		line-height: 0.53125rem;
		color:#fff;
	}
	h1{
		font-size: 0.375rem;
		color:#fff;
		text-align: center;
		margin: 0.65625rem 0 0.421875rem;
	}
	.input-group{
		width:7.03125rem;
		height:1.1875rem;
		border:2px solid #A1D6FA;
		border-radius: 0.59375rem;
		box-sizing: border-box;
		display:block;
		margin:0.3125rem auto;
	}
	.input-group{
		span{
			font-size: 0.5rem;
			color:#135d90;
			line-height: 1.1875rem;
			margin-left: 0.5625rem;
			vertical-align:bottom;
		}
		input.name{
			vertical-align:bottom;
		}
		input{
			margin-left: 0.46875rem;
			height:1.1875rem;
			width:6.09375rem;
			color:#135d90;
			font-size: 0.5rem;
			border:none;
			background:transparent;
			vertical-align:bottom;
		}
		::-webkit-input-placeholder {
			color:#135d90;
		}
	}
	.tip{
		font-size: 0.375rem;
		color:#0f4b75;
		width:7.09375rem;
		display:block;
		margin:0 auto 0;
		line-height: 0.5rem;
	}
	.join{
		.div-img(7.0rem,1.265625rem,"../images/joinbutton.png");
		border:none;
		margin:0.40625rem auto 0;
		display:block;
	}
}
.section.four{
	.tile{
		width:9.0625rem;
		height:2.03125rem;
		background:#2077b1;
		border-radius: 0.125rem;
		margin:0.625rem auto 0;
		color:#fff;
		font-size: 0.4375rem;
		line-height: 0.625rem;
		padding:0.3rem 0.2rem;
		text-align: center;
		box-sizing: border-box;
	}
	.car-warp{
		text-align: center;
		width:10.0rem;
		height:12.1875rem;
		position:relative;
	}
	.car-warp{
		.selectcar{
			display:inline-block;
			margin: 0.375rem;
			box-shadow:5px 5px 2px 2px #2071b1;
			border-radius: 5px;
		}
		.car1{
			.div-img(3.75rem,5.203125rem,"../images/car-one.png");
			position:absolute;
			left:0.46875rem;
			top:0.46875rem
		}
		.car2{
			.div-img(3.75rem,5.203125rem,"../images/car-two.png");
			position:absolute;
			right:0.46875rem;
			top:0.46875rem;
		}
		.car3{
			.div-img(3.75rem,5.203125rem,"../images/car-three.png");
			position:absolute;
			left:0.46875rem;
			bottom:0
		}
		.car4{
			.div-img(3.75rem,5.203125rem,"../images/car-four.png");
			position:absolute;
			right:0.46875rem;
			bottom:0;
		}
		.selectcar.active{
			
		}
		
	}
	.hasreward,.norewardwarp{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		left:0;
		display:none;
		z-index: 999999;
	}
	.hasreward{
		.light{
			width:100%;
			height:100%;
			background:url("../images/light.png");
			background-size: 100% 100%;
			animation: light 0.5s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
			z-index: 7777;
		}
		.reward{
			.div-img(7.359375rem,9.859375rem,"../images/reward.png");
			margin:1.9375rem auto 0;
			animation: light 1s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
			z-index: 8888;
		}
		.rewardhas{
			.div-img(7.359375rem,7.65625rem,"../images/rewardhas.png");
			margin:2.9375rem auto 0;
			position:relative;
		}
		.reward{
			.button{
				width:100%;
				height:1.09375rem;
				position:absolute;
				bottom:0;
				left:0
			}
		}
	}
	.norewardwarp{
		.light{
			width:100%;
			height:100%;
			background:url("../images/light.png");
			background-size: 100% 100%;
			animation: light 0.5s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
			z-index: 7777;
		}
		.noreward{
			.div-img(7.359375rem,9.171875rem,"../images/noreward.png");
			animation: light 1s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
			z-index: 8888;
		}
		.norewardhas{
			.div-img(7.375rem,7.65625rem,"../images/noreward_has.png");
			margin:2.9375rem auto 0;
			position:relative;
		}
		.noreward{
			.button{
				width:100%;
				height:1.09375rem;
				position:absolute;
				bottom:0;
				left:0
			}
		}
	}
}
.car1.theout,.car2.theout,.car3.theout,.car4.theout{
	animation: theout 1s;
}
.hasreward,.norewardwarp{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		left:0;
		display:none;
	}
	.hasreward{
		.light{
			width:100%;
			height:100%;
			background:url("../images/light.png");
			background-size: 100% 100%;
			animation: light 0.5s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
		}
		.reward{
			.div-img(7.359375rem,9.859375rem,"../images/reward.png");
			margin:1.9375rem auto 0;
			animation: light 1s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;

		}
		.rewardhas{
			.div-img(7.359375rem,7.65625rem,"../images/rewardhas.png");
			margin:2.9375rem auto 0;
			position:relative;
		}
		.reward{
			.button{
				width:100%;
				height:1.09375rem;
				position:absolute;
				bottom:0;
				left:0
			}
		}
	}
	.norewardwarp{
		.light{
			width:100%;
			height:100%;
			background:url("../images/light.png");
			background-size: 100% 100%;
			animation: light 0.5s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
		}
		.noreward{
			.div-img(7.359375rem,9.171875rem,"../images/noreward.png");
			animation: light 1s;
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			right:0;
			margin:auto;
		}
		.norewardhas{
			.div-img(7.375rem,7.65625rem,"../images/noreward_has.png");
			margin:2.9375rem auto 0;
			position:relative;
		}
		.noreward{
			.button{
				width:100%;
				height:1.09375rem;
				position:absolute;
				bottom:0;
				left:0
			}
		}
	}
.section.five{
	background:url("../images/bg3.jpg");
	background-size: 100% 100%;
}
.section.five{
	.warp{
		width:8.46875rem;
		height:9.96875rem;
		background:#2077b1;
		border-radius: 0.125rem;
		margin:0.78125rem auto 0;
	}
	.warp{
		p{
			font-size: 0.4375rem;
			color:#fff;
			line-height: 0.625rem;
			padding:0.53125rem 0.6875rem;
		}
		.QRcode{
			.div-img(3.40625rem,3.4375rem,"../images/QRcoed.png");
			margin:0.59375rem auto 0.1875rem;
			display:block;
		}
		p.ftil{
			font-size: 0.375rem;
			color:#9ED6FC;
			line-height: 0.5625rem;
			padding:0;
			text-align: center
		}
		.rankbtn{
			.div-img(3.578125rem,0.78125rem,"../images/rankbtn.png");
			border:none;
			display:block;
			margin:0.46875rem auto 0;
		}
	}
	.rankwarp{
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		position:absolute;
		top:0;
		left:0;
	}
	.rankwarp{
		.ranklist{
			.div-img(7.359375rem,10.5rem,"../images/ranklist.png");
			margin:1.6875rem auto 0;
			position:relative;
		}
		.list-box{
			width:7.390625rem;
			height:7.90625rem;
			position:absolute;
			bottom:0;
			overflow: scroll;
			padding:0.40625rem 0;
			box-sizing: border-box;
			text-align: center;
		}
		.list-item{
			margin:0.15625rem 0;
		}
		.list-item{
			>span{
				font-size: 0.4375rem;
				color:#56688e;
			}
			>span.phone{
				margin-left: 1.28125rem;
			}
		}
	}
}
.closeBtn{
	.div-img(0.9375rem,0.9375rem,"../images/close.png");
	position: absolute;
    top:-0.46875rem;
    right:-0.46875rem;
}
.arrow{
	.div-img(0.625rem,0.640625rem,"../images/arrow.png");
	animation:arrow 1s linear infinite;
    animation-delay:2s;
    opacity:0;
    position: absolute;
    bottom:0.3125rem;
    left:50%;
    margin-left: -0.3125rem;
}
.flower{
	.div-img(8.03125rem,10.9375rem,"../images/flower.png");
	position:absolute;
	left:0;
	top:0;
	opacity:0;
	animation:flower 2s linear infinite;
}
.flower4{
	.div-img(8.03125rem,10.9375rem,"../images/flower.png");
	position:absolute;
	left:1.5625rem;
	top:3rem;
	opacity:0;
	animation:flower 3s linear infinite;
	animation-delay: 1.5s;
}
.flower3{
	.div-img(0.9375rem,0.875rem,"../images/flower2.png");
	position:absolute;
	right:1.03125rem;
	top:6.015625rem;
	animation:flower3 3s linear infinite;
}
.flower5{
	.div-img(0.9375rem,0.875rem,"../images/flower2.png");
	position:absolute;
	left:5.3125rem;
	top:2.015625rem;
	animation:flower4 3s linear infinite;
	animation-delay: 1.5s;
	opacity:0;
}
.flower2{
	.div-img(0.578125rem,0.546875rem,"../images/flower2.png");
	position:absolute;
	left:5.78125rem;
	top:2.8125rem;
	animation:flower2 5s linear infinite;
}
.section.first.section-out{
	animation:out 1s;
	animation-fill-mode: forwards;
}
.section.sec.section-in{
	display:block !important;
	animation:in 1s;
	animation-fill-mode: forwards;
}
.section.three.section-in{
	display:block !important
}
.carmove{
	.div-img(1.203125rem,0.875rem,"../images/movecar.png");
	position:absolute;
	bottom:3.8625rem;
	left:4.23125rem;
	animation:carmove1 1s linear;
	animation-fill-mode: forwards;
	z-index: 999;
}
.carmove.carmove2{
	animation:carmove2 1s linear;
	animation-fill-mode: forwards;
	left:2.2rem;
    bottom:2.66875rem;
}
.carmove.carmove4{
	animation:carmove3 1s linear;
	animation-fill-mode: forwards;
	left:0.4625rem;
    bottom:1.40625rem;
}
.zh{
	.div-img(4.5625rem,1.78125rem,"../images/zh.png");
	position:absolute;
	top:-1.171875rem;
	left:0.4375rem;
	display:none;
}
.zh.carmove2{
	display:block;
}
.xz{
	.div-img(6.078125rem,1.78125rem,"../images/xz.png");
	position:absolute;
	top:0.09375rem;
	left:0.3125rem;
	display:none;
}
.xz.carmove2{
	display:block;
}
.xz.carmove3{
	display:none;
}
.midline{
	width:100%;
	height:1px;
	position:absolute;
	bottom:4.25rem;
}
.zhline{
	.div-img(2.28125rem,0.984375rem,"../images/line1.png");
	background-size: 2.28125rem 0.984375rem;
	position:absolute;
	top:0.7rem;
	left:2.640625rem;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.xzline{
	.div-img(1.953125rem,1.28125rem,"../images/line2.png");
	background-size: 1.953125rem 1.28125rem;
	position:absolute;
	top:1.5625rem;
	left:0.90625rem;
	display:none;
}
.xzline.carmove2{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.fylline{
	width:3.21875rem;
	height:4.21875rem;
	position:absolute;
	bottom:-1.359375rem;
	left:3rem;
	display:none;
	overflow:hidden;
}
.fylline .inside{
	.div-img(3.21875rem,4.21875rem,"../images/line3.png");
	background-size: 3.21875rem 4.21875rem;
	position:absolute;
	left:0;
	bottom:0;
}
.cyxline{
	.div-img(5.328125rem,1.484375rem,"../images/line8.png");
	background-size: 5.328125rem 1.484375rem;
	position:absolute;
	top:-6.25rem;
	left:2.25rem;
	display:none;
}
.fyl{
	.div-img(4.5625rem,1.78125rem,"../images/fyl.png");
	position:absolute;
	top:-5.53125rem;
	left:3.65625rem;
	display:none;
}
.fylline.carmove4{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.fyl.carmove5{
	display:block;
}
.ashline{
	width:1.46875rem;
	height:2.734375rem;
	background-size: 1.46875rem 2.734375rem;
	position:absolute;
	bottom:3.19375rem;
	left:6.01875rem;
	display:none;
	overflow:hidden;
}
.ahh{
	.div-img(6.4375rem,1.78125rem,"../images/ahh.png");
	position:absolute;
	left:3.375rem;
	bottom:7.21875rem;
	display:none
}
.ahh.carmove6{
	display:block
}
.ashline .inside{
	.div-img(1.46875rem,2.734375rem,"../images/line4.png");
	background-size: 1.46875rem 2.734375rem;
	position:absolute;
	left:0;
	bottom:0;
}
.ashline.carmove5{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.mzdline{
	width:0.34375rem;
	height: 2.1875rem;
	position:absolute;
	bottom:6.234375rem;
	left:7.25rem;
	display:none;
	overflow:hidden;
}
.msh{
	.div-img(4.5625rem,1.78125rem,"../images/msh.png");
	position:absolute;
	left:4.96875rem;
	bottom:9.421875rem;
	display:none	
}
.msh.carmove7{
	display:block;	
}
.mzdline .inside{
	.div-img(0.34375rem,2.1875rem,"../images/line5.png");
	background-size: 0.34375rem 2.1875rem;
	position:absolute;
	left:0;
	bottom:0;
}
.qxlhline{
	.div-img(2.375rem,1.296875rem,"../images/line6.png");
	background-size: 2.375rem 1.296875rem;
	position:absolute;
	left:4.84375rem;
	top:-8.46875rem;
	display:none;
}
.toahhline{
	.div-img(2.71875rem,0.9375rem,"../images/line7.png");
	background-size: 2.71875rem 0.9375rem;
	position:absolute;
	left:4.84375rem;
	top:-7.0875rem;
	display:none;
}
.qxlh{
	.div-img(4.5625rem,1.78125rem,"../images/qxlh.png");
	position:absolute;
	left:2.59375rem;
	bottom:8.140625rem;
	display:none;
}
.qxlh.carmove8{
	display:block
}
.cyx{
	.div-img(4.5625rem,1.78125rem,"../images/cyx.png");
	position:absolute;
	left:0.40625rem;
	bottom:5.78125rem;
	display:none;
}
.tocyxline{
	.div-img(0.53125rem,6.4375rem,"../images/tozh.png");
	background-size: 0.53125rem 6.4375rem;
	position:absolute;
	left:2.1875rem;
	top:-4.828125rem;
	display:none
}
.tocyxline.carmove11{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.cyx.carmove10{
	display:block
}
.toahhline.carmove9{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.mzdline.carmove6{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.qxlhline.carmove8{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.cyxline.carmove10{
	display:block;
	animation:line1 1s linear;
	animation-fill-mode: forwards;
}
.carmove.carmove5{
	animation:carmove4 1s linear;
	animation-fill-mode: forwards;
	left:2.2rem;
    bottom:2.66875rem;
}
.carmove.carmove6{
	animation:carmove5 1s linear;
	animation-fill-mode: forwards;
	left:5.3125rem;
    bottom:7.078125rem;
}
.carmove.carmove7{
	animation:carmove6 1s linear;
	animation-fill-mode: forwards;
	left:6.96875rem;
    bottom:10.265625rem;
}

.carmove.carmove8{
	animation:carmove7 1s linear;
	animation-fill-mode: forwards;
	left:6.8125rem;
    bottom:12.528125rem;
}
.carmove.carmove9{
	animation:carmove5 1s linear;
	animation-fill-mode: forwards;
	left:4.625rem;
    bottom:11.21875rem;
}
.carmove.carmove10{
	animation:carmove8 1s linear;
	animation-fill-mode: forwards;
	left:6.96875rem;
    bottom:10.265625rem;
 }
 .carmove.carmove11{
	animation:carmove9 1s linear;
	animation-fill-mode: forwards;
	left:2.125rem;
    bottom:8.96875rem;
 }
 .carmove.carmove12{
	animation:carmove10 1s linear;
	animation-fill-mode: forwards;
	left:2.390625rem;
    bottom:2.65625rem;
 }
/*动画部分*/
@keyframes ground {
  from {
    transform: translateY(8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes slogan {
  from {
    transform: translateY(-8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes building {
  from {
  	opacity:1;
    transform: translateX(-8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
  	opacity:1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes car {
  from {
  	opacity:1;
    transform: translateX(8rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
  	opacity:1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes out {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:0
  }
}
@keyframes out2 {
  from {
    transform:  translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:0
  }
}
@keyframes in {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:0
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1
  }
}
@keyframes carmove1 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:2.2rem;
    bottom:2.66875rem;
  }
}
@keyframes carmove2 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:0.5625rem;
    bottom:1.40625rem;
  }
}
@keyframes carmove3 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:2.2rem;
    bottom:2.66875rem;
  }
}
@keyframes carmove4 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:5.3125rem;
    bottom:7.078125rem;
  }
}
@keyframes carmove5 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:6.96875rem;
    bottom:10.265625rem;
  }
}
@keyframes carmove6 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:6.8125rem;
    bottom:12.528125rem;
  }
}
@keyframes carmove7 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:4.625rem;
    bottom:11.21875rem;
  }
}
@keyframes carmove8 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:2.125rem;
    bottom:8.96875rem;
  }
}
@keyframes carmove9 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:2.390625rem;
    bottom:2.65625rem;
  }
}
@keyframes carmove10 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:4.8125rem;
    bottom:3.46875rem;
  }
}
@keyframes line1 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    height:0;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}

@keyframes arrow{
    from{
        transform:translateY(-0.8rem) translate3d(0, 0, 0);opacity: 0;backface-visibility: hidden;perspective: 1000;
    }
    to{ opacity: 1;transform:translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
}
@keyframes flower{
    0%{
        transform:translateY(0rem) translateX(1rem) translate3d(0, 0, 0);opacity: 0;backface-visibility: hidden;perspective: 1000;
    }
    50%{ opacity: 1;transform:translateY(0.8rem) translateX(0rem) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
    100%{ opacity: 0;transform:translateY(1.6rem) translateX(-0.8rem) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
}
@keyframes flower2{
    0%{
        transform:translateY(0rem) translateX(0rem) rotate(0deg) translate3d(0, 0, 0);opacity: 0;backface-visibility: hidden;perspective: 1000;
    }
    50%{ opacity: 1;transform:translateY(5rem) translateX(1rem) rotate(360deg) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
    100%{ opacity: 0;transform:translateY(10rem) translateX(2rem) rotate(720deg) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
}
@keyframes flower3{
    0%{
        transform:translateY(0rem) translateX(0rem) rotate(0deg) translate3d(0, 0, 0);opacity: 0;backface-visibility: hidden;perspective: 1000;
    }
    50%{ opacity: 1;transform:translateY(3rem) translateX(-1rem) rotate(180deg) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
    100%{ opacity: 0;transform:translateY(6rem) translateX(-1.2rem) rotate(360deg) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
}
@keyframes flower4{
    0%{
        transform:translateY(0rem) translateX(0rem) rotate(0deg) translate3d(0, 0, 0);opacity: 0;backface-visibility: hidden;perspective: 1000;
    }
    50%{ opacity: 1;transform:translateY(2rem) translateX(-1rem) rotate(180deg) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
    100%{ opacity: 0;transform:translateY(5rem) translateX(-2rem) rotate(360deg) translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
}
@keyframes activeshow {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
   	opacity:0;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1;
  }
}
/*修改补充*/
.aniwarp{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	display:none;
	animation:activeshow 1s;
	z-index: 2;
	margin:0 !important;
}
.aniwarp{
	.loading{
		position:fixed;
		bottom:0.46875rem;
		left:0;
		text-align: center;
		width:100%;
		color:#fff;
		display:none;
	}
}
.loadingImag{
	.div-img(5.203125rem,6.725rem,"../images/loading.png");
	position:absolute;
	top:2.66875rem;
	left:50%;
	margin-left: -2.600625rem;
	animation:loading 1s infinite linear;
	display:none;
	z-index: 2;
}
.car1.bigger{
		animation:bigger1 1s;
		animation-fill-mode: forwards;
		display:block;
		box-shadow:none !important;
	}
	.car2.bigger{
		animation:bigger2 1s;
		animation-fill-mode: forwards;
		display:block;
		box-shadow:none !important;
	}
	.car3.bigger{
		animation:bigger3 1s;
		animation-fill-mode: forwards;
		display:block;
		box-shadow:none !important;
	}
	.car4.bigger{
		animation:bigger4 1s;
		animation-fill-mode: forwards;
		display:block;
		box-shadow:none !important;
	}
	.car1.mini,.car1.mini,.car1.mini,.car1.mini{
		animation:mini 1s;
		animation-fill-mode: forwards;
	}

.car-warp2{
	width:10.0rem;
	height:12.0625rem;
	margin-top: 3.21875rem;
	text-align: center
}
.car-warp2{
	.selectcar{
		display:inline-block;
		margin: 0.375rem;
	}
	.car1{
			.div-img(3.75rem,5.203125rem,"../images/car-one.png");
		}
		.car2{
			.div-img(3.75rem,5.203125rem,"../images/car-two.png");
		}
		.car3{
			.div-img(3.75rem,5.203125rem,"../images/car-three.png");
		}
		.car4{
			.div-img(3.75rem,5.203125rem,"../images/car-four.png");
		}
	
}
    
 @keyframes bigger2 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    right:50%;
    top:2.96875rem;
    margin-right: -1.859375rem;
  }
}
 @keyframes bigger1 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
   
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:50%;
    top:2.96875rem;
    margin-left: -1.859375rem;
  }
}
@keyframes bigger3 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
   
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    left:50%;
    margin-left: -1.859375rem;
    bottom:3.16875rem;
  }
}
@keyframes bigger4 {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    right:50%;
    bottom:3.16875rem;
    margin-right: -1.859375rem;
  }
}
.activePos1{
	position:absolute;
    top:5.828125rem;
    left:50%;
    margin-left: -1.87rem !important
}
.activePos2{
	position:absolute;
    bottom:4.171875rem;
    right:50%;
    margin-right: -1.87rem !important
}
.car1.opaout{
	animation:out 1s;
	position: absolute;
    margin-left: -1.859375rem !important;
    left:50% !important;
    top:2.96875rem !important;
	animation-fill-mode: forwards;
}
.car2.opaout{
	animation:out 1s;
	position: absolute;
	margin-right: -1.859375rem !important;
    right:50% !important;
    top:2.96875rem !important;
	animation-fill-mode: forwards;
}
.car3.opaout{
	animation:out 1s;
	position: absolute;
    margin-left: -1.859375rem !important;
    left:50% !important;
    bottom:3.16875rem  !important;
	animation-fill-mode: forwards;
}
.car4.opaout{
	animation:out 1s;
	position: absolute;
	right:50%  !important;
    bottom:3.16875rem  !important;
    margin-right: -1.859375rem !important;
	animation-fill-mode: forwards;
}
.loadingImag.opaout{
	animation:out2 1s;
	animation-fill-mode: forwards;
}
@keyframes light {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    width:0;
    height:0;
    opacity:0
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
   	opacity:1
  }
}
@keyframes mini {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1
    
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    width:0;
    height:0;
   	opacity:0
  }
}
@keyframes theout {
  from {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1
    
  }
  to {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
   	opacity:0
  }
}
@keyframes loading {
  0% {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:0;
  }
  50% {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:1;
  }
  100%{
  	transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    opacity:0.5;
  }
}
.mbtn{
	.div-img(1.09375rem,1.09375rem,"../images/openm.png");
	position:fixed;
	right:0.15625rem;
	top:0.15625rem;
	z-index: 999;
}
.loadingpage{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#1a87c5;
	border:none;
}
.bgcolor{
	background:url("../images/loadingpage.gif") center center no-repeat;
	width:100%;
	height:100%;
}